<div class="alert alert-error" ng-show="error">
    {{errorMessage}}
</div>
        <div class="trains">
            <div class="controlls">
                <button type="button" class="btn btn-primary" ng-click="shtrain = !shtrain">Add</button>
            </div>
        </div>
<div class="trains">
    <div class="train" ng-show="shtrain">
    <form class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="inputEmail"><msg key="train_name"></msg></label>

        <div class="controls">
            <input type="text" id="inputEmail" ng-model="train.name" placeholder="Train Name" required="required" min="2" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputEmail">Speed</label>

        <div class="controls">


            <input class="span3" type="text" id="inputSpeed" ng-model="train.speed" placeholder="Speed" required="required" min="1" />
            <span class="add-on">km/h</span>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" ng-model="train.diesel" /> Is Diesel
            </label>
        </div>
        <hr />
        <div class="controls">
            <button type="button" class="btn btn-primary" ng-disabled="!train.name || !train.speed" ng-hide="editMode" ng-click="addNewTrain(train)">Add Train</button>
            <button type="button" class="btn btn-primary" ng-disabled="!train.name || !train.speed" ng-show="editMode" ng-click="updateTrain(train)">Save Train</button>
            <button type="button" class="btn" ng-click="resetTrainForm()">Reset</button>
        </div>
    </div>
</form>
        </div>
<hr />
<h3>Trains List</h3>
<div class="alert alert-info" ng-show="trains.length == 0">
    No trains found
</div>
<table class="table table-bordered table-striped" ng-show="trains.length > 0">
    <thead>
        <tr style="cursor: hand">
            <th style="text-align: center;cursor: pointer; width: 25px;">Id</th>
            <th ng-click="orderBy('name')" style="text-align: center;"><msg key="train_name"></msg><span ng-class="orderIcon('name')"></span></th>
            <th ng-click="orderBy('speed')" style="text-align: center;">Speed<i ng-class="orderIcon('speed')">&nbsp</i></th>
            <th style="text-align: center;">Diesel</th>
            <th style="text-align: center;">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr class="hoverme" dir-paginate="train in trains | filter:q | itemsPerPage: pageSize | orderBy: order" current-page="currentPage" >
            <td class="hoverme2" style="text-align: center;">{{train.id}}</td>
            <td class="hoverme2" >{{train.name}}</td>
            <td class="hoverme2" >{{train.speed}}</td>
            <td class="hoverme2"  style="text-align: center;width: 20px;"><span ng-show="train.diesel" class="icon-ok"></span></td>
            <td class="hoverme2"  style="width:100px;text-align: center;">
                <button class="btn btn-mini btn-danger buton" ng-click="removeTrain(train.id)">Remove</button>
                <button class="btn btn-mini btn-success buton" ng-click="editTrain(train)">Edit</button>
            </td>
        </tr>
    </tbody>
</table>

<div style="display: inline-flex;">
    <div  style="display: inline-block">
        <button class="btn btn-danger"  style="margin-top: 19px" ng-show="trains.length > 1" ng-click="removeAllTrains()">Remove All Trains</button>
    </div>
<!--paginatie-->
    <div style="display: inline-block; margin-left: 20px">
        <msg key="items_page"></msg>
        <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
    </div>

    <div style="display: inline-block; margin-left: 20px">
        <dir-pagination-controls boundary-links="true" auto-hide="false" template-url="html/template/pagination/pagination.tpl.html"></dir-pagination-controls>
    </div>
<!--paginatie-->

</div>

</div>
